<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="2.1.2" targetFramework="net45" developmentDependency="true" />
  <package id="UI.for.WinForms.Common" version="2014.2.715" targetFramework="net45" />
  <package id="UI.for.WinForms.GridView" version="2014.2.715" targetFramework="net45" />
</packages>